<h1>Book Nook</h1>

<h2>Create a new account</h2>

<form action="/signup" method="post">
  Enter name: <input type=text name="name" >
  <div>
  <br>
  Enter Username: <input type=text name="username" >
  <div>
  <br>
  Enter Email: <input type=email name="email" >  
  <div>
  <br>
  Enter Password: <input type=password name="password" > 
  <div>
  <br>
  Tell Everyone a little bit about yourself: <textarea name="about_me"></textarea>
  <input type=submit value="Create Account" >
</form>