<h1>Book Nook</h1> 

<h2>Edit this Book review:</h2> 

<form action="/reviews/<%=@review.id%>" method= "POST">
    <input type="hidden" name="_method" value="PATCH">
    <p>Comments:   
     <textarea type="textarea" name="comments" value="<%= @review.comments %>"></textarea>
    <br>
    <input type=submit value="Submit Review" >
    <br>
    </form>

    <form action="/reviews/<%=@review.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Review">
</form>